.Usuario {
    border: 1px solid;
    height: 100%;
    display: flex;
    margin: auto;
    padding: 10px;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 10px;
}
.campo{
    border: 1px solid;
    display: block;
}

input{
    max-width: 100%;
}
.Titulo{
    margin: auto;
    font-size: larger;
    font: bolder;
}
