.slideContainer {
    max-width: 100%;
    width: fit-content;
    position:relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    height: fit-content;
    align-items: center;
    box-shadow: 0px 10px 35px -10px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.slideCard {
    padding: 45px;
    padding-left: 30px;
}

.info {
    display: inline-block;
    margin: 10px 0;
}

.info input,
.info select {
    width: fit-content;
    display: block;
}

.info select {
    margin-bottom: 10px;
    width: 100%;
    color: black;
}

.info input::placeholder {
    font-size: 15px;
}

.titulo {
    margin: 0;
    font-size: larger;
    font: bolder;
}

.slideContainer label {
    width: 45%;
    display: inline-block;
    margin: 0 10px;
}

.slideContainer .actions {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.slideContainer select {
    width: 100%
}

.slideContainer h1 {
    text-align: center;
}

.slideChanger {
    background: rgb(32, 30, 30);
    display: inline;
    border-radius: 100%;
    color: white;
    font-family: ddg-serp-icons;
    height: 25px;
    width: 25px;
    font-size: 10px;
}

.controllers {
    position:absolute;
    width: 98%;
    display: flex;
    justify-content: space-between;
}